@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mont-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mont-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/mont-black.woff2") format("woff2");
  font-display: swap;
}
